name: Vulkan Loader

on: [push, pull_request]

# Cancel in-progress builds on push to same branch / PR
# https://stackoverflow.com/a/72408109
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

env:
  VULKAN_VERSION: 1.2.153

# So far we need this only on Mac as it can't be installed through Homebrew
jobs:
  mac:
    name: ${{ matrix.os }}
    runs-on: ${{ matrix.runs-on }}
    strategy:
      matrix:
        include:
        - os: macos12-x64-arm64
          runs-on: macos-12
    steps:
    - name: Install base build tools
      run: |
        brew install ninja
    - name: Clone Vulkan-Headers
      uses: actions/checkout@v4.1.7
      with:
        repository: KhronosGroup/Vulkan-Headers
        ref: v${{ env.VULKAN_VERSION }}
        path: headers
    - name: Clone Vulkan-Loader
      uses: actions/checkout@v4.1.7
      with:
        repository: KhronosGroup/Vulkan-Loader
        ref: v${{ env.VULKAN_VERSION }}
        path: loader
    - name: Build & install headers
      run: |
        cmake \
          -G Ninja \
          -DCMAKE_BUILD_TYPE=Release \
          -DCMAKE_OSX_ARCHITECTURES="x86_64;arm64" \
          -DCMAKE_OSX_DEPLOYMENT_TARGET="11.0" \
          -DCMAKE_INSTALL_PREFIX=$(pwd)/install-headers \
          -S headers -B build-headers
        ninja -C build-headers install
    - name: Build & install loader
      run: |
        cmake \
          -G Ninja \
          -DCMAKE_BUILD_TYPE=Release \
          -DCMAKE_OSX_ARCHITECTURES="x86_64;arm64" \
          -DCMAKE_OSX_DEPLOYMENT_TARGET="11.0" \
          -DCMAKE_INSTALL_PREFIX=$(pwd)/install \
          -DVULKAN_HEADERS_INSTALL_DIR=$(pwd)/install-headers \
          -S loader -B build
        ninja -C build install
    - name: Upload artifacts
      uses: actions/upload-artifact@v4.3.3
      with:
        name: vulkan-loader-${{ env.VULKAN_VERSION }}-${{ matrix.os }}
        path: install

  windows:
    name: ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-2019]
    steps:
    - name: Install Ninja
      uses: seanmiddleditch/gha-setup-ninja@v5
    - name: Set up Visual Studio environment
      uses: compnerd/gha-setup-vsdevenv@v6
    - name: Clone Vulkan-Headers
      uses: actions/checkout@v4.1.7
      with:
        repository: KhronosGroup/Vulkan-Headers
        ref: v${{ env.VULKAN_VERSION }}
        path: headers
    - name: Clone Vulkan-Loader
      uses: actions/checkout@v4.1.7
      with:
        repository: KhronosGroup/Vulkan-Loader
        ref: v${{ env.VULKAN_VERSION }}
        path: loader
    - name: Build & install headers
      run: |
        cmake ^
          -G Ninja ^
          -DCMAKE_BUILD_TYPE=Release ^
          -DCMAKE_INSTALL_PREFIX=%CD:\=/%/install-headers ^
          -S headers -B build-headers
        ninja -C build-headers install
      shell: cmd
    - name: Build & install loader
      run: |
        cmake ^
          -G Ninja ^
          -DCMAKE_C_COMPILER=cl.exe ^
          -DCMAKE_CXX_COMPILER=cl.exe ^
          -DCMAKE_BUILD_TYPE=Release ^
          -DCMAKE_INSTALL_PREFIX=%CD:\=/%/install ^
          -DVULKAN_HEADERS_INSTALL_DIR=%CD:\=/%/install-headers ^
          -S loader -B build
        ninja -C build install
      shell: cmd
    - name: Upload artifacts
      uses: actions/upload-artifact@v4.3.3
      with:
        name: vulkan-loader-${{ env.VULKAN_VERSION }}-${{ matrix.os }}
        path: install
